.texto{
    background: red;
    width: 100%;
    height: 200px;
    max-width: 900px;
    max-height: 100%;
    min-width: 0;
    min-height: 0;
    overflow: auto;
    margin: 0 auto;
    padding: 30px;
    border: 5px solid black;
    box-sizing: border-box;
}
