ul li::after{
    content: ",";
    color: red;
    background: lightblue;
}

p::first-letter{
    font-size: 200%;
    color: green;
    font-weight: bold;
}

.form-field::placeholder{
    color: orange;
    font-style: italic;
}
